
  form input,
  form text area,
  form button {
  display: block;
  width:100%;
  max-width: 300pxl;
  padding: 6px 10px;
  margin: 10px 0;
  }
form textarea { 
    height: 100pxl;
    font-family :typography;
    line-height:130%;
}